# Final Project
---
Matthew Christopher Albert [matthewmcavaio@gmail.com]

In [87]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

print(df_train.isnull().sum(),end="\n"+"="*10+"\n")
print(df_test.isnull().sum())

df_train.head()

id                       0
Umur                     0
Kelas Pekerja            0
Berat Akhir              0
Pendidikan               0
Jmlh Tahun Pendidikan    0
Status Perkawinan        0
Pekerjaan                0
Jenis Kelamin            0
Keuntungan Kapital       0
Kerugian Capital         0
Jam per Minggu           0
Gaji                     0
dtype: int64
==========
id                       0
Umur                     0
Kelas Pekerja            0
Berat Akhir              0
Pendidikan               0
Jmlh Tahun Pendidikan    0
Status Perkawinan        0
Pekerjaan                0
Jenis Kelamin            0
Keuntungan Kapital       0
Kerugian Capital         0
Jam per Minggu           0
dtype: int64

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,0,21,Wiraswasta,242912,SMA,9,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,35.0,<=7jt
1,1,49,Wiraswasta,140782,10th,6,Cerai,Ekesekutif Managerial,Perempuan,0.0,0.0,40.0,<=7jt
2,2,44,Wiraswasta,120057,D3,12,Menikah,Ekesekutif Managerial,Laki2,61404000.0,0.0,45.0,>7jt
3,3,24,Wiraswasta,194630,Sarjana,13,Belum Pernah Menikah,Spesialis,Laki2,0.0,0.0,35.0,<=7jt
4,4,33,Wiraswasta,219619,Master,14,Menikah,Spesialis,Laki2,210336000.0,0.0,40.0,>7jt

In [88]:
categorical_features=[features for features in df_train.columns if df_train[features].dtypes=='O']
print(categorical_features)

numerical_features=[features for features in df_train.columns if df_train[features].dtypes!='O']
print(numerical_features)

df_train.describe()

['Kelas Pekerja', 'Pendidikan', 'Status Perkawinan', 'Pekerjaan', 'Jenis Kelamin', 'Gaji']
['id', 'Umur', 'Berat Akhir', 'Jmlh Tahun Pendidikan', 'Keuntungan Kapital', 'Kerugian Capital', 'Jam per Minggu']

,id,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu
count,35994.000000,35994.000000,3.599400e+04,35994.000000,3.599400e+04,3.599400e+04,35994.000000
mean,17996.500000,38.664555,1.899318e+05,10.079874,1.503923e+07,1.217974e+06,40.435656
std,10390.717131,13.676266,1.058023e+05,2.574813,1.029919e+08,5.631544e+06,12.367552
min,0.000000,17.000000,1.228500e+04,1.000000,0.000000e+00,0.000000e+00,1.000000
25%,8998.250000,28.000000,1.177670e+05,9.000000,0.000000e+00,0.000000e+00,40.000000
50%,17996.500000,37.000000,1.784665e+05,10.000000,0.000000e+00,0.000000e+00,40.000000
75%,26994.750000,48.000000,2.379185e+05,12.000000,0.000000e+00,0.000000e+00,45.000000
max,35993.000000,90.000000,1.490400e+06,16.000000,1.399986e+09,6.098400e+07,99.000000

---
## Data Processing

### EDA (Explolatory Data Analaysis)

### Missing Values

In [89]:
print(df_train[df_train['Kelas Pekerja'] == "?"].shape)
print(df_train[df_train['Pekerjaan'] == "?"].shape)

print(df_test[df_test['Kelas Pekerja'] == "?"].shape)
print(df_test[df_test['Pekerjaan'] == "?"].shape)

# df_train = df_train[df_train['Kelas Pekerja'] != "?"]
# df_train = df_train[df_train['Pekerjaan'] != "?"]

(2063, 13)
(2069, 13)
(552, 12)
(554, 12)

In [92]:
pendidikan_cat = {"1st-4th":0, "5th-6th":1, "SD":2, "7th-8th":3, "9th":4, "10th":5, "11th":6, "12th":7, "SMA":8, "Pendidikan Tinggi":9, "D3":10, "D4":11, "Sarjana":12, "Master":13, "Doktor":14, "Sekolah Professional": 15}

pendidikan_cat_f = {"1st-4th":0, "5th-6th":1, "SD":1, "7th-8th":2, "9th":3, "10th":4, "11th":4, "12th":5, "SMA":5, "Pendidikan Tinggi":6, "D3":6, "D4":7, "Sarjana":7, "Master":8, "Doktor":9, "Sekolah Professional": 6}

# df_train[df_train['Keuntungan Kapital'] > 0].count
# df_train[df_train['Pekerjaan'] == "?"]

### Label Encoding & Data Grouping

In [93]:
from sklearn.preprocessing import LabelEncoder

def dataEncoder(df_col):
    lbl= LabelEncoder()
    lbl.fit(list(df_col.values)) 
    return lbl.transform(list(df_col.values))

# df = pd.get_dummies(df_train, columns=["Pendidikan"])
# df["Pendidikan"] = df["Pendidikan"].replace(list(pendidikan_cat))

df_train['Gaji'] = dataEncoder(df_train['Gaji'])
df_train['Pekerjaan'] = dataEncoder(df_train['Pekerjaan'])
df_train['Kelas Pekerja'] = dataEncoder(df_train['Kelas Pekerja'])
df_train['Jenis Kelamin'] = dataEncoder(df_train['Jenis Kelamin'])
df_train['Status Perkawinan'] = dataEncoder(df_train['Status Perkawinan'])
df_train['Pendidikan'] = df_train['Pendidikan'].replace(pendidikan_cat_f)

df_train['Gaji'] = dataEncoder(df_train['Gaji'])
df_train['Pekerjaan'] = dataEncoder(df_train['Pekerjaan'])
df_train['Kelas Pekerja'] = dataEncoder(df_train['Kelas Pekerja'])
df_train['Jenis Kelamin'] = dataEncoder(df_train['Jenis Kelamin'])
df_train['Status Perkawinan'] = dataEncoder(df_train['Status Perkawinan'])
df_train['Pendidikan'] = df_train['Pendidikan'].replace(pendidikan_cat_f)

# df_test['Sex'] = dataEncoder(df_test['Sex'])
# df_test['Embarked'] = dataEncoder(df_test['Embarked'])
# df_test['Title'] = dataEncoder(df_test['Title'])

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

### Data Centering / Scaling

In [28]:
df_train[['Berat Akhir','Keuntungan Kapital','Kerugian Capital']]=(df_train[['Berat Akhir','Keuntungan Kapital','Kerugian Capital']]-df_train[['Berat Akhir','Keuntungan Kapital','Kerugian Capital']].mean())/df_train[['Berat Akhir','Keuntungan Kapital','Kerugian Capital']].std()

df_test[['Berat Akhir','Keuntungan Kapital','Kerugian Capital']]=(df_test[['Berat Akhir','Keuntungan Kapital','Kerugian Capital']]-df_test[['Berat Akhir','Keuntungan Kapital','Kerugian Capital']].mean())/df_test[['Berat Akhir','Keuntungan Kapital','Kerugian Capital']].std()

In [29]:
df_train.head()

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,0,21,6,0.501894,5,9,0,9,1,-0.148044,-0.217731,35.0,0
1,1,49,6,-0.465120,4,6,2,1,1,-0.148044,-0.217731,40.0,0
2,2,44,6,-0.661354,6,12,4,1,0,0.437933,-0.217731,45.0,1
3,3,24,6,0.044738,7,13,0,10,0,-0.148044,-0.217731,35.0,0
4,4,33,6,0.281345,8,14,4,10,0,1.859187,-0.217731,40.0,1

In [30]:
df_train.corr()

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
id,1.000000,-0.002192,-0.003960,-0.002116,0.009322,0.007465,-0.000335,0.002382,-0.004298,0.007792,-0.005435,0.002209,0.003589
Umur,-0.002192,1.000000,-0.215734,-0.075263,0.007705,0.039558,0.468531,-0.030794,-0.082134,0.081476,0.055280,0.101104,0.239058
Kelas Pekerja,-0.003960,-0.215734,1.000000,0.051210,-0.113115,-0.139330,-0.159900,-0.047318,0.093614,-0.065749,-0.036370,-0.117867,-0.109690
Berat Akhir,-0.002116,-0.075263,0.051210,1.000000,-0.047209,-0.041551,-0.036026,-0.008267,-0.025162,0.002434,-0.004051,-0.013651,-0.003765
Pendidikan,0.009322,0.007705,-0.113115,-0.047209,1.000000,0.943838,0.023525,0.062948,0.010943,0.084214,0.067610,0.115702,0.288909
Jmlh Tahun Pendidikan,0.007465,0.039558,-0.139330,-0.041551,0.943838,1.000000,0.049970,0.083375,-0.006639,0.122734,0.081988,0.144228,0.332104
Status Perkawinan,-0.000335,0.468531,-0.159900,-0.036026,0.023525,0.049970,1.000000,-0.033259,-0.318831,0.076942,0.074045,0.226312,0.407016
Pekerjaan,0.002382,-0.030794,-0.047318,-0.008267,0.062948,0.083375,-0.033259,1.000000,-0.003306,0.004168,-0.004855,-0.040221,-0.014644
Jenis Kelamin,-0.004298,-0.082134,0.093614,-0.025162,0.010943,-0.006639,-0.318831,-0.003306,1.000000,-0.046314,-0.050611,-0.227352,-0.211689
Keuntungan Kapital,0.007792,0.081476,-0.065749,0.002434,0.084214,0.122734,0.076942,0.004168,-0.046314,1.000000,-0.032235,0.084042,0.222236
Kerugian Capital,-0.005435,0.055280,-0.036370,-0.004051,0.067610,0.081988,0.074045,-0.004855,-0.050611,-0.032235,1.000000,0.061226,0.146220
Jam per Minggu,0.002209,0.101104,-0.117867,-0.013651,0.115702,0.144228,0.226312,-0.040221,-0.227352,0.084042,0.061226,1.000000,0.223201
Gaji,0.003589,0.239058,-0.109690,-0.003765,0.288909,0.332104,0.407016,-0.014644,-0.211689,0.222236,0.146220,0.223201,1.000000

---
## Modeling

In [31]:
X_train = df_train.drop(columns=['Gaji'], axis=1)
y_train = df_train['Gaji']

X_test = df_test

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate, GridSearchCV, RandomizedSearchCV

X_train_tr, X_train_ts, y_train_tr, y_train_ts =  train_test_split(X_train, y_train, test_size=0.25)

In [33]:
X_train

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu
0,0,21,6,0.501894,5,9,0,9,1,-0.148044,-0.217731,35.0
1,1,49,6,-0.465120,4,6,2,1,1,-0.148044,-0.217731,40.0
2,2,44,6,-0.661354,6,12,4,1,0,0.437933,-0.217731,45.0
3,3,24,6,0.044738,7,13,0,10,0,-0.148044,-0.217731,35.0
4,4,33,6,0.281345,8,14,4,10,0,1.859187,-0.217731,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
35989,35989,47,0,-0.395177,5,9,4,6,0,-0.148044,-0.217731,40.0
35990,35990,69,1,0.708401,6,12,4,8,0,-0.148044,-0.217731,40.0
35991,35991,24,0,-1.498849,7,13,4,10,1,-0.148044,-0.217731,20.0
35992,35992,47,6,0.075093,5,9,4,8,0,-0.148044,-0.217731,45.0
35993,35993,45,6,0.509762,7,13,4,1,0,-0.148044,-0.217731,60.0

### Instantiate & Hyperparameter Tuning

In [63]:
#Tuning
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

scoring = 'accuracy'

# Use sampling
df_train_sample = df_train.sample(frac=.1)
X_tuning = df_train_sample.drop(columns=['Gaji'], axis=1)
y_tuning = df_train_sample['Gaji']
print(X_tuning.shape)
print(y_tuning.shape)
# End sampling

def tuneHyper(model, param_grid, method="grid", n_iter=100, cv=5, vb=1):
    gscv = ""
    if method == "grid":
        gscv = GridSearchCV(model, param_grid=param_grid, scoring=scoring, cv=cv, verbose=vb)
    else:
        gscv = RandomizedSearchCV(model, n_iter=n_iter, param_distributions=param_grid, scoring=scoring, cv=cv, verbose=vb)

    gscv.fit(X_tuning,y_tuning)
    print(f" {gscv.best_params_}=> {gscv.best_score_}")

(3392, 12)
(3392,)

In [79]:
model = GradientBoostingClassifier()
param_grid = {'n_estimators':np.arange(10,120), 'max_depth':np.arange(2,7)}

tuneHyper(model, param_grid)

Fitting 5 folds for each of 550 candidates, totalling 2750 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

 {'max_depth': 2, 'n_estimators': 111}=> 0.8531839622641509

[Parallel(n_jobs=1)]: Done 2750 out of 2750 | elapsed:  7.5min finished

In [64]:
model = RandomForestClassifier()
param_grid = {'n_estimators':np.arange(20,140)}

tuneHyper(model, param_grid)

Fitting 5 folds for each of 120 candidates, totalling 600 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

 {'n_estimators': 47}=> 0.8413915094339622

[Parallel(n_jobs=1)]: Done 600 out of 600 | elapsed:  1.9min finished

In [ ]:
# model = KNeighborsClassifier()
# param_grid = {'n_neighbors':np.arange(5,50), 'weights':['uniform','distance']}

# tuneHyper(model, param_grid)

In [13]:
# model = SVC()
# param_grid = {'kernel':['linear', 'poly', 'rbf', 'sigmoid', 'precomputed']}
# param_grid = {'kernel':['linear', 'rbf']}

# tuneHyper(model, param_grid)

Fitting 5 folds for each of 2 candidates, totalling 10 fits
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

In [52]:
model = DecisionTreeClassifier()
param_grid = {'max_depth':np.arange(4,10),'min_samples_leaf':np.arange(1,20),'min_samples_split':np.arange(2,20)}

tuneHyper(model, param_grid)

Fitting 5 folds for each of 2052 candidates, totalling 10260 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

 {'max_depth': 7, 'min_samples_leaf': 1, 'min_samples_split': 3}=> 0.8518791451731761

[Parallel(n_jobs=1)]: Done 10260 out of 10260 | elapsed:  2.2min finished

### Final Validation

In [38]:
# Functions
def printScore(model, X, y, cv=5):
    score = cross_validate(model, X, y, scoring="accuracy", cv=cv, return_train_score=True)
    print("Test score: ",score["test_score"].mean())
    print("Train score: ",score["train_score"].mean())

def double_test(model, use_sample=False):
    if not use_sample:
        model_a = model
        model_a.fit(X_train_tr, y_train_tr)
        printScore(model_a, X_train_ts, y_train_ts)

        model_b = model
        model_b.fit(X_train, y_train)
        printScore(model_b, X_train, y_train)
    else:
        model_a = model
        model_a.fit(X_tuning, y_tuning)
        printScore(model_a, X_tuning, y_tuning)

In [21]:
model_svc = SVC(kernel="rbf")
double_test(model_svc)

# model_knn = KNeighborsClassifier(n_neighbors=7, weights="uniform")
# double_test(model_knn)

# model_dtc = DecisionTreeClassifier(max_depth=7, min_samples_leaf=1)
# double_test(model_dtc)

# model_gs = GaussianNB()
# double_test(model_gs)

# model_gb = GradientBoostingClassifier(n_estimators=2, max_depth=30)
# double_test(model_gb)

# model_rf = RandomForestClassifier(n_estimators = 100)
# double_test(model_rf)

Test score:  0.7667518992032611
Train score:  0.766751863684771
Test score:  0.7602378166736983
Train score:  0.7602378173677485
Test score:  0.8579840652214192
Train score:  1.0
Test score:  0.8254952014923193
Train score:  0.9999652722309713

In [44]:
model_knn = KNeighborsClassifier()
double_test(model_knn, False)

Test score:  0.7029010267351157
Train score:  0.7966578840175945
Test score:  0.4487176424492443
Train score:  0.8138246229614433

In [84]:
model_dtc = DecisionTreeClassifier(max_depth=7, min_samples_leaf=1)
double_test(model_dtc, False)

Test score:  0.8343525679489744
Train score:  0.8515681303488314
Test score:  0.8498746471833496
Train score:  0.8547899598139468

In [45]:
model_gs = GaussianNB()
double_test(model_gs)

Test score:  0.8170265517701181
Train score:  0.8173189964494048
Test score:  0.8179217225961608
Train score:  0.8186661605276255

In [81]:
model_gb = GradientBoostingClassifier(n_estimators=111, max_depth=2)
double_test(model_gb)

Test score:  0.8513321721448097
Train score:  0.855016562609479
Test score:  0.8326564669711732
Train score:  0.8579144832227081

In [83]:
model_rf = RandomForestClassifier(n_estimators = 60)
double_test(model_rf)

Test score:  0.8403686634664533
Train score:  0.9997347306329903
Test score:  0.8297090836249403
Train score:  0.9997789240970134

### Final Fitting

In [85]:
# Final Fitting
chosen_model = model_dtc

chosen_model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=7,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

### Predicting + Exporting Submission

In [86]:
y_pred = chosen_model.predict(X_test)

submission = pd.DataFrame()
submission['id'] = df_test["id"]
submission['Gaji'] = y_pred
submission.to_csv('submission.csv',index=False)

ValueError: could not convert string to float: 'Pemerintah Lokal'